<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net45" />
  <package id="FParsec" version="1.0.2" targetFramework="net45" />
  <package id="FParsec-Pipes" version="0.1.1.0" targetFramework="net45" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="GraphQL" version="0.13.0.562" targetFramework="net45" />
  <package id="GraphQL.Net" version="0.2.4" targetFramework="net45" />
  <package id="GraphQL-Parser" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.10.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net45" />
</packages>